<%- include("partials/title.ejs") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/header.ejs") %>
    
    <div class="container py-3">

      <div class="d-flex align-items-center justify-content-end ps-3">
        <form action="/search-reviews" method="post">
          <div class="input-group mb-3 align-items-center">

            <label class="form-check-label pe-3">Sort by: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sort" id="inlineRadio1" value="title" <% if (sort === "title") { %>
               checked
              <% } %>>
              <label class="form-check-label" for="inlineRadio1">Title</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sort" id="inlineRadio2" value="rating" <% if (sort === "rating") { %>
               checked
              <% } %>>
              <label class="form-check-label" for="inlineRadio2">Rating</label>
            </div>  
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sort" id="inlineRadio2" value="date_read" <% if (sort === "date_read") { %>
               checked
              <% } %>>
              <label class="form-check-label" for="inlineRadio2">Date read</label>
            </div>  

            <input type="text" class="form-control ms-3" name="title" placeholder="Search title" aria-label="Title" aria-describedby="button-addon2" <% if (locals.search) { %>
              value="<%= search %>"
              <% } %>>
            <button class="btn btn-secondary" type="submit" id="button-addon2">Go</button>
          </div>
        </form>
      </div> 

      <% books.forEach((book) => { %>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Rating: <%= book.rating %> / 10</strong>
            <h3 class="mb-0"><%= book.title %></h3>
            <div class="mb-1 text-body-secondary">Date read: <%= book.date_read.toDateString() %></div>
            <p class="card-text mb-auto pt-3"><%= book.review %></p>
            <a href="/view/<%= book.id %>" class="icon-link gap-1 icon-link-hover stretched-link page-link">
              Continue reading >>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="<%= book.cover_url %>" alt="book cover" class="img-thumbnail view-img" />
          </div>
        </div>
      <% }); %>
        
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>