<%- include("partials/title.ejs") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/header.ejs") %>

    <div class="container">

      <div class="d-flex border-bottom mb-3 py-3">
          <div class="col-sm-10">
              <h2 class="display-5 link-body-emphasis mb-1"><%= book.title %></h2>
              <p class="blog-post-meta">by <%= book.author %></p>
              <p class="blog-post-meta"><%= book.description %></p>
              <p class="blog-post-meta pt-3">ISBN: <%= book.isbn %></p>
          </div>
          <div class="col-sm-2">
              <img src="<%= book.cover_url %>" class="img-thumbnail view-img" alt="book cover"/>
          </div>
      </div>

        <form action="/submit-review" method="POST" class="py-3" name="form-review">
            <h4 class="h5 mb-3 fw-normal"><%= title %></h4>
            <input type="hidden" name="book_id" value="<%= book.id %>"/>   
            <% if (trans === "update") { %>        
                <input type="hidden" name="review_id" value="<%= review.id %>"/>
                <div class="d-flex">
                    <div class="form-floating py-2 col-sm-6 pe-1">
                      <input
                        type="date" 
                        class="form-control"
                        id="floatingInput"
                        placeholder="Date read"
                        name="date_read"
                        value="<%=review.date_read.getFullYear() %>-<% if (review.date_read.getMonth() < 9) { %>0<%=review.date_read.getMonth() + 1 %><% } else { %><%=review.date_read.getMonth() + 1%><% } %>-<% if (review.date_read.getDate() < 10) { %>0<%=review.date_read.getDate()%>"<% } else { %><%=review.date_read.getDate()%>" <% } %>
                      />
                      <label for="floatingInput">Date read</label>
                    </div>
        
                    <div class="form-floating py-2 col-sm-6 ps-1">
                      <input
                        type="number"
                        class="form-control"
                        id="floatingInput"
                        placeholder="Rating (0-10)"
                        name="rating"
                        min="0"
                        max="10"
                        value="<%= review.rating %>"
                      />
                      <label for="floatingInput">Rating (0-10)</label>
                    </div>
      
                  </div>
                  
                    <textarea class="form-control" id="review" rows="7" name="review" placeholder="Review"><%= review.review %></textarea>
            
            <% } else { %>       
    
                <div class="d-flex">
              <div class="form-floating py-2 col-sm-6 pe-1">
                <input
                  type="date"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Date read"
                  name="date_read"
                />
                <label for="floatingInput">Date read</label>
              </div>
  
              <div class="form-floating py-2 col-sm-6 ps-1">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Rating (0-10)"
                  name="rating"
                  min="0"
                  max="10"
                />
                <label for="floatingInput">Rating (0-10)</label>
              </div>

            </div>
            
              <textarea class="form-control" id="review" rows="7" name="review" placeholder="Review"></textarea>

            <% } %>
             
  
              <div class="d-flex justify-content-end py-3 gap-2">
              <button class="btn btn-secondary py-2" type="submit" name="submit" value="<%= trans %>">
                Save
              </button>

              <% if (trans === "update") { %>
                <button class="btn btn-secondary py-2" type="submit" name="submit" value="delete">
                    Delete
                </button>
              <% } %>
              
              <button class="btn btn-secondary py-2" type="submit" name="submit" value="cancel">
                Cancel
              </button>
            </div>
            </form> 

    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>